body{
    text-align: center;
    background-color: red
    background-image: url;(Miles-Morales.jpg)
    background-size: cover;
    
}
a{
    font: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}